
@{
    ViewBag.Title = "Inicio";
}

<div class="container">
    <div class="row" style="height:50%">
        @Html.Action("PivotGridPartial")
    </div>
    <div>

    @*//    @Html.Action("ChartPartial")*@


      @*<h1>GRAFICO EN ESTA AREA O NO</h1>*@
    </div>
</div>