<div class='title'>
    <a href="@Url.Action("Inicio", "Inicio")">Mis Ventas</a>
    <p class="small">Grupo Carval</p>
</div>
<div class="panelContent">
    <div class="pull-right">
        <div class="panelItem">
            @Html.DevExpress().Menu(m => {
           m.Name = "NavMenu";
           m.EnableAnimation = true;
           m.ControlStyle.CssClass = "navMenu";
           m.Styles.Item.Paddings.PaddingLeft = 22;
           m.Styles.Item.Paddings.PaddingRight = 22;

           m.Items.Add(item =>
           {
               item.Text = "Presupuesto";
               item.Image.Url = "~/Content/Images/Menu/Presupuesto.png";
               item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "BI_Presupuestos", Action = "Index" });

           });



           m.Items.Add(item =>

           {
               item.Text = "Ventas";
               item.Image.Url = "~/Content/Images/Menu/Ventas.png";
               item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "BI_Ventas_Historicas", Action = "Index" });
           });

           m.Items.Add(item =>

           {
               item.Text = "Consulta Ventas";
               item.Image.Url = "~/Content/Images/Menu/Ventas.png";
               item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "BI_Ventas_Historicas", Action = "Ventas" });
           });


           m.Items.Add(item =>

           {
               item.Text = "Inventario";
               item.Image.Url = "~/Content/Images/Menu/Inventory.png";
               item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "BI_Inventarios", Action = "Index" });
           });


           m.Items.Add(item =>
           {
               item.Text = "Salir";
               item.Image.Url = "~/Content/Images/Menu/LogOut.png";
               item.NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Account", Action = "LogOff" });
           });

           //m.Items.Add("HOME").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Home" });
           //m.Items.Add("BLOG").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "BlogTimeline" });
           //m.Items.Add("CONTACT US").NavigateUrl = DevExpressHelper.GetUrl(new { Controller = "Pages", Action = "Contacts" });

       }).GetHtml() 
        </div>
        @*<div class="panelItem">
           @Html.DevExpress().Menu(settings =>
      {

          settings.Name = "mOverview";
          settings.EnableAnimation = true;
          settings.ControlStyle.CssClass = "navMenu";
          settings.Items.Add(item =>
          {

              item.Text = "Home";
              item.Image.Url = "~/Content/Images/LogOut.png";
              item.Items.Add("News");
              item.Items.Add("Contact Us");
          });
          settings.Items.Add(item =>
          {
              item.Text = "Profile";
              item.Image.Url = "~/Images/BO_Users_Large.png";
              item.Items.Add("Change Password");
          });
          // And other items
      }).GetHtml()

        </div>*@

        @if(ViewBag.ShowSearchEditor == null || ViewBag.ShowSearchEditor) {    
        <div class="panelItem">
            <script>
                function OnSearchKeyUp(s, e) {
                    if(e.htmlEvent.keyCode == 13) {
                        OnSearchClick();
                    }
                }
                function OnSearchClick(){
                    $('#searchForm').submit();
                }
            </script>
            @*@using(Html.BeginForm("Search", "Pages", FormMethod.Post, new { id = "searchForm" })) { 
                Html.DevExpress().ButtonEdit(be => {
                    be.Name = "Query";
                    be.Properties.NullText = "Search in blog";
                    be.ControlStyle.CssClass = "searchBox";
                    be.Properties.ButtonStyle.CssClass = "glyphicon glyphicon-search searchBoxButton";
                    be.Properties.Buttons.Add();
                    be.Properties.ClientSideEvents.ButtonClick = "OnSearchClick";
                    be.Properties.ClientSideEvents.KeyUp = "OnSearchKeyUp";
                }).Render();
            }*@ 
        </div>
        } 
    </div>
    <div class="clearfix"></div>
</div>